.keyStatisitcs .table thead th {
  width: 20%;
  vertical-align: middle;
}

.keyStatisitcs .table tbody td {
  width: 20%;
  vertical-align: middle;
}

.keyStatisitcs th, .keyStatisitcs td {
  border-color: #7788AA;
}

.keyStatisitcs thead th {
  border-bottom: 1px solid #7788AA;
}
